@import '_variables.scss';
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

* {
  box-sizing: border-box;
  font-family: $main-font;
}

html,
body {
  height: 100%;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

body {
  font-size: 10px;
  background-color: $primary-color;
  margin: 0;
  overflow-y: scroll;
}

@for $i from 1 through 6 {
  h#{$i} {
    font-size: (7 - $i) * 0.5rem;
    color: $accent-color;
  }
}

p {
  font-size: 1.2rem;
}